<%- include('header') %> 

  <div class="box" id="heading">
    <h1>
      <%= TodayDate %>
    </h1>
  </div>

  <div class="box">
    <% for(let i=0; i< NewItem.length; i++) { %>
    <div class="item">
      <input type="checkbox">
      <p>
        <%= NewItem[i] %>
      </p>
    </div>
    <% } %>

    <form class="item" action="/" method="post">

      <input type="text" name="Task" placeholder="New Task" autocomplete="off">
      <button type="submit" name="submit" value=<%= TodayDate %>>+</button>

    </form>
  </div>


<%- include("footer") %> 